
<app-navbar></app-navbar>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vinciatti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Orden">Pedidos</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">Lista de Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/puntos">Puntos de venta</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventario">Inventario</a>
        </li>
      </ul>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <br>

  
<!-- <app-menu></app-menu> -->
<!-- <app-punto></app-punto> -->
 <!-- <app-inventario></app-inventario> -->
<!-- <app-product></app-product> -->
